# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\module-3\13.JDBC-Querying-Transaction\updateManageUser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
