* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

i {
  color: #f8f9fa;
}

a {
  text-decoration: none;
  color: #f8f9fa;
}

li {
  list-style: none;
}

.header {
  background-color: #373a3c;
  height: 50px;
  line-height: 50px;
}

.header-menu ul li {
  text-align: center;
}

.header-login {
  text-align: right;
  padding-right: 40px;
}

.container {
  background-color: #ced4da;
  height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-menu {
  text-align: center;
}

.side-menu li {
  margin-top: 20px;
}

.side-menu a {
  color: cornflowerblue;
}

.content {
  background-color: #f8f9fa;
  padding: 20px;
  height: 400px;
}

.content h1 {
  padding-bottom: 20px;
}

.content h2 {
  padding-bottom: 20px;
}

.container p {
  font-size: 17px;
  line-height: 24px;
}

.side-right input {
  width: 80%;
  text-align: center;
  height: 80px;
  margin: 20px;
  border: 2px solid #ced4da;
  border-radius: 5px;
}

.footer {
  background-color: #373a3c;
  color: #f8f9fa;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
  .menu {
    display: block;
  }
  .menu-none {
    display: none;
  }

  .header-menu {
    width: 50%;
  }

  .header-login {
    width: 50%;
  }

  .container {
    height: 840px;
  }
  .content {
    height: 500px;
  }
}

/* Small devices >= 600px */
@media only screen and (min-width: 600px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .menu {
    display: none;
  }
}
