# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\module-3\10.jsp-jstl\simple-caculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
