# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\module-3\12.JDBC-CRUD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
