* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
}

html,
body {
  font-family: sans-serif;
}

h1 {
  font-size: 18px;
}

.top-nav {
  background-color: #f4f4f4;
  line-height: 40px;
  width: 100%;
}

.top-menu {
  display: flex;
  flex-direction: row;
}

.top-menu-right {
  margin-left: auto;
}

.top-menu ul {
  margin-right: 20px;
}

.top-menu ul li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}

.top-menu ul li a:hover {
  color: #b78a28;
}

.top-menu ul li a {
  text-decoration: none;
  color: black;
}

.top-menu ul li:hover ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top-menu > ul > li > ul {
  display: none;
  position: absolute;
  min-width: 250px;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: white;
  width: 100%;
  box-shadow: #333 0px 1px 4px 1px;
}

.header-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.header-link {
  float: left;
  text-align: center;
  padding: 21px 10px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.header-link :hover {
  cursor: pointer;
}

.header-nav i {
  font-size: 1.4rem;
}

.header-nav img {
  width: 200px;
  height: 60px;
}

.header-right {
  margin-left: auto;
  width: 10%;
}

.header-right input {
  border: 1px solid #b78a28;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}

.header-search {
  position: relative;
  margin: auto;
  width: 50%;
}

.header-search input {
  border: 2px solid #b78a28;
  padding: 12px 50px 12px 50px;
  width: 100%;
  outline: none;
  border-radius: 20px;
}

.header-search i {
  position: absolute;
  top: 40%;
  right: 20px;
  transform: translate(-50%);
  cursor: pointer;
  color: #b78a28;
}

.page {
  margin-top: 10px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 8fr 4fr;
  font-size: 14px;
  line-height: 40px;
}

.d-flex {
  display: grid;
  grid-template-columns: 4fr 4fr;
  margin-bottom: 20px;
}

.d-flex a {
  display: none;
  margin-left: auto;
  margin-right: 20px;
  text-decoration: none;
  color: #b78a28;
  font-size: 12px;
}

.media {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 160px;
}

.media div {
  margin-left: 10px;
  font-size: 12px;
  line-height: 30px;
}

.content-new {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 14px;
}

.content-new table {
  border-top: 3px solid #eee;
  width: 100%;
  font-size: 12px;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f4f4f4;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

.text {
  text-decoration: none;
  color: #333;
}

.algin-middle {
  width: auto;
  padding-left: 10px;
  text-align: left;
  line-height: 50px;
}

.text-tertiary {
  opacity: 0.7;
}

.ranking {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  padding-left: 20px;
  margin-top: 30px;
  column-gap: 100px;
  margin-right: 20px;
}

.ranking-block {
  border-radius: 20px;
  box-shadow: 0 10px 25px 0 #d7d4ce;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
  padding-top: 10px;
}
.index {
  width: 10%;
  text-align: center;
}
.index img {
  width: 100%;
}

.index1 {
  width: 60%;
}

.flex-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}

.flex-item img {
  width: 20px;
  margin-right: auto;
}

.flex-item p {
  margin-right: auto;
}

.index2 {
  width: 30%;
  text-align: right;
  margin-right: 20px;
}

.index2 img {
  width: 100%;
  height: 130px;
}

.d-flex .image {
  width: 10%;
}

.flex-item a {
  text-decoration: none;
  color: #333;
}
